@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lg-flex-fix {
  @apply lg:flex;
}

@keyframes bounceCustom {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bolinha {
  @apply w-60 h-60 bg-gradient-to-tr from-violet-500 to-pink-500 rounded-full animate-bounce;
  animation: bounceCustom 1s infinite;
}

:root {
  --color-red-400: initial; /* Reset to default */
}

.text-white {
  @apply text-white;
}

.subtitle {
  @apply font-medium text-sm md:text-lg text-gray-500 mt-4;
}